.theme-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: #cacaca;
    display: block;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active::after {
    width: 130px;
}

/* modo claro e escuro  */
html.dark-theme {
    background: #333;
}

body.dark-theme {
    background: #333;
    color: #ccc;
}

#container.dark-theme {
    background: #444;
}

#calculadora.dark-theme {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input-valor.dark-theme {
    background-color: #666;
    color: #ccc;
    border: 1px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.key li.dark-theme {
    background-color: #666;
    color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.key li.dark-theme:hover {
    background-color: #777;
}

.key li.dark-theme:active {
    background-color: #888;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

.social-icon.dark-theme {
    background-color: #555;
    color: #ccc;
}

.social-icon.dark-theme:hover {
    background-color: #666;
    color: white;
}

.header.dark-theme h1,
.header.dark-theme p {
    color: #ccc;
}